---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h1>
     <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.profile %}
    <div class="row">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
    </div>
    {% endif %}

    <br>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    <div class="row">
    <div class="col-md-6">
    <a class="twitter-timeline" data-height="600" data-dnt="true" data-theme="light" href="https://twitter.com/rllabmcgill?ref_src=twsrc%5Etfw">Tweets by rllabmcgill</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-6">
    {% if page.profile.address %}
    <div class="row">
        <div class="address text-left">
          {{ page.profile.address }}
        </div>
    </div>
    {% endif %}
    {% if page.social %}
    <div class="social" style="padding-top:30px">
      <div class="contact-icons">
        <div class="row justify-content-sm-center">
        <a class="col-sm-6" href="https://cs.mcgill.ca"><img class="img-fluid" src="{{'/assets/img/mcgill-red.svg' | relative_url }}"></a>
        </div>
        <div class="row justify-content-sm-center">
        <a class="col-sm-5" href="https://mila.quebec">
        <img class="img-fluid" src="{{'/assets/img/mila-purple.png' | relative_url }}">
        </a>
        </div>
      </div>
      <div class="contact-note" style="padding-top:10px">{{ site.contact_note }}</div>
    </div>
    {% endif %}
    </div>
    </div>


  </article>

</div>
