---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h1>
     <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.profile %}
    <div class="row">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
    </div>
    {% endif %}

    <br>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.profile.address %}
    <div class="row">
        <div class="address text-center">
          {{ page.profile.address }}
        </div>
    </div>
    {% endif %}

    {% if page.social %}
    <div class="social" style="padding-top:30px">
      <div class="contact-icons row justify-content-sm-center">
        <img class="col-sm-2 img-fluid" src="{{'/assets/img/mila-purple.png' | relative_url }}">
        <img class="col-sm-3 img-fluid" src="{{'/assets/img/mcgill-red.svg' | relative_url }}">
      </div>
      <div class="contact-note" style="padding-top:10px">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
